# YouTube API Credentials (copy to .env and fill in your actual values)
GOOGLE_CLIENT_ID=692252020653-7m8kktv23c72j5spnkbg6gpqc9hj7fbp
GOOGLE_CLIENT_SECRET=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
GOOGLE_PROJECT_ID=your-project-id
